@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 dark:text-white text-black;
}

.navbar-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.your-class {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.your-class::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
